<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @enqury.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enqury.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @enqury.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @enqury.message %>
</p>

<%= link_to 'Edit', edit_enqury_path(@enqury) %> |
<%= link_to 'Back', enquries_path %>
