<div class="grid-x gray-bg grid-padding-x">
  <div class="cell small-12 medium-4 large-4 medium-offset-4 align-self-middle text-center">
  	<i class="fa fa-check-circle success" aria-hidden="true" style="font-size: 5em;"></i>
    <div style="margin-top: 40px;">
    	<h3>You have successfully booked into</h3><h1><%= @bookable.bookable_type.title %></h1>
    </div>

    <% if @charge.present? && @charge.status == "pending" %>
    	<div style="margin: 20px 0;">However, you're payment is currently pending. We'll send you an email once payment has been successful.</div>
    <% end %>

    <% if @charge.present? && @charge.status == "failed" %>
    	<div style="margin: 20px 0;">However, unfortunately your card has declined.</div>
    	<div style="margin: 5px 0;">FAILURE CODE: <%= @charge.failure_code %><br />
    	FAILURE MESSAGE: <%= @charge.failure_message %></div>
    	<div style="margin: 5px 0;">You will be required to pay <%= number_to_currency(@bookable.price) %> cash on arrival.</div>
    <% end %>
	<div style="margin: 20px 0;">
	<h3>Booking Details</h3>
	<div class="booking-details-container">
		<strong>When:</strong> <%= @bookable.date_start %><br>
		<strong>Time:</strong> <%= @bookable.time_start %><%= @bookable.time_start_unit %> until <%= @bookable.time_finish %><%= @bookable.time_finish_unit %> <br>
		<strong>Where:</strong> <%= @bookable.location.name %><br>
		<strong>Instructor:</strong> <%= @bookable.instructor.full_name %> <br>
		<small><%= @bookable.location.address %> <%= @bookable.location.city %> <%= @bookable.location.zipcode %>, <%= @bookable.location.state %> <%= @bookable.location.country %></small>
	</div>

	<p><i class="fa fa-envelope" aria-hidden="true"></i> We have also sent you an email for confirmation.</p>

    <%= link_to "View Your Bookings", my_bookings_path, class: "button", style: "margin-top:50px;" %>
  </div>
</div>



