<div class="grid-x gray-bg grid-padding-x">
  <div class="cell small-12 medium-6 large-8 medium-offset-2 align-self-middle text-center">
  	<i class="fa fa-user-circle success" aria-hidden="true" style="font-size: 5em;"></i>
    <h1>Close Booking</h1>
    <table>
		<thead>
			<th class="text-center">Client</th>
			<th class="text-center">Payment Status</th>
			<th class="text-center">Suggestion</th>
			<th class="text-center">Leave Note</th>
			<th class="text-center">Close?</th>
		</thead>
		<% @participants.each do |participant| %>
		<% @walkin = Walkin.where(user_id: participant.user_id).first %>
		<% @participant_total = Charge.where(user_id: participant.user_id).all %>
		<tr>
			<td class="text-left"><%= participant.user.email %></td>
			<td class="text-left"><%= participant.payment_status %></td>
			<td class="text-left">
				<% if @walkin.present? && @walkin.become_regular == false || @participant_total.present? && @participant_total.count <= 2 %>
					This client is not yet a regular customer. Consider adding a few points to her account to encourage her back.
				<% else %>
					Leave a note, try to encourage them to book again.
				<% end %>
			</td>
			<td class="text-left"><%= link_to "Leave a note", root_path, class: "button" %></td>
			<td class="text-left"	>
				<% if participant.closed == false %>
					<%= link_to "CLOSE CLIENT PAID IN FULL", bookable_close_participant_path(@bookable, :key => participant.id, :paid => true, :method => participant.payment_method), class: "button" %>
					<%= link_to "CLOSE CLIENT WITH MONEY OWED", new_debt_path(:bookable => @bookable.id, :participant => participant.id, :user => participant.user_id, :paid => false), class: "button" %>
				<% else %>
					<%= link_to "CLIENT CLOSED", bookable_close_participant_path(@bookable, :key => participant.id, :paid => true), class: "button disabled" %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>


<h2>NO SHOWS</h2>
	<table>
		<thead>
			<th class="text-center">Client</th>
			<th class="text-center">Payment Status</th>
			<th class="text-center">Leave Note</th>
			<th class="text-center">Close?</th>
		</thead>
		<% @noshows.each do |participant| %>
		<tr>
			<td><%= participant.user.email %></td>
			<td><%= participant.payment_status %></td>
			<td><%= link_to "Leave a note", root_path, class: "button" %></td>
			<td>
				<% if participant.closed == false %>
					<%= link_to "CLOSE & REFUND CLIENTS CARD", bookable_close_participant_path(@bookable, :key => participant.id, :paid => true, :method => participant.payment_method), class: "button" %>
					<%= link_to "CLOSE & REFUND CLIENT IN POINTS", bookable_close_participant_path(@bookable, :key => participant.id, :paid => false), class: "button" %>
				<% else %>
					<%= link_to "CLIENT CLOSED", bookable_close_participant_path(@bookable, :key => participant.id, :paid => true), class: "button disabled" %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>

  </div>
</div>



	